<html>
<!-- SHOPPING APP HOME -->

<head>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>

<body>
    <div class="Banner">
        <h1>Thank you for your purchase!</h1>
    </div>
    <ul class="NavButtons">
        <li><a href="/logout">Logout</a></li>
        <li><a href="/viewcart">View Cart</a></li>
        <li><a href="/viewprofile">View Profile</a></li>
        <li><a href="/home">Home</a></li>

    </ul>

    <% if( _receipt ){ %>
    <div class="view">
        <div class="content primary">
            <h2>Receipt</h2>
            <table class="receiptTable">
                <tr>
                    <th>Purchase Date</th>
                    <th>Total Cost</th>
                    <th>Items</th>
                </tr>
                <tr>
                    <td><%= _receipt['purchase_date'] %></td>
                    <td><%= _receipt['grandtotal'] %></td>
                    <td>
                        <% _receipt['item_list']['items'].forEach(function (item) { %>
                        <%= item['name'] %> (<%= item['quantity'] %>) <br />
                        <% }); %>
                    </td>

                </tr>
            </table>
        </div>

        <% if( _receipt['item_list']['items'].length>0 ){ %>


        <div class="content primary right">
            <h1>Cart</h1>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                <% _receipt['item_list']['items'].forEach(function (item) { %>
                <tr>
                    <td><a href="/product?name=<%= item['name'] %>"><%= item['name'] %></a></td>
                    <td><%= item['quantity'] %></td>
                    <td>$<%= item['price'] %></td>
                </tr>
                <% }) %>
            </table>
            <br />Subtotal: $<%= _receipt['subtotal'] %>
            Grand Total: $<%= _receipt['grandtotal'] %>
        </div>
        <% } %>
    </div>
    <% } %>


</body>

</html>
